################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LightInsightService/LightInsightService/obj/Debug/net9.0/LightInsightService.AssemblyInfoInputs.cache
/LightInsightService/LightInsightBUS/obj/Debug/net9.0/LightInsightBUS.AssemblyInfo.cs
/LightInsightService/LightInsightBUS/obj/Debug/net9.0/LightInsightBUS.AssemblyInfoInputs.cache
/LightInsightService/LightInsightDAL/obj/Debug/net9.0/LightInsightDAL.AssemblyInfo.cs
/LightInsightService/LightInsightDAL/obj/Debug/net9.0/LightInsightDAL.AssemblyInfoInputs.cache
/LightInsightService/LightInsightService/obj/Debug/net9.0/LightInsightService.AssemblyInfo.cs
/LightInsightService/.vs/LightInsightService/FileContentIndex/49844d11-512d-4ac8-aa25-c487271cd363.vsidx
/LightInsightService/.vs/LightInsightService/FileContentIndex/770d5882-119e-4203-a1e0-18a4debb3fe9.vsidx
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log
*.db
*.exe
*.dll
/LightInsightService/.vs/LightInsightService/CopilotIndices/17.13.439.2385/CodeChunks.db
/LightInsightService/.vs/LightInsightService/CopilotIndices/17.13.439.2385/SemanticSymbols.db
/LightInsightService/.vs/LightInsightService/DesignTimeBuild/.dtbcache.v2
/LightInsightService/.vs/LightInsightService/FileContentIndex/71c2adc3-ebef-4073-95a2-2f29f4846921.vsidx
/LightInsightService/.vs/LightInsightService/v17/.futdcache.v2
/LightInsightService/.vs/LightInsightService/v17/.suo
/LightInsightService/.vs/LightInsightService/v17/DocumentLayout.backup.json
/LightInsightService/.vs/LightInsightService/v17/DocumentLayout.json
/LightInsightService/.vs/ProjectEvaluation/lightinsightservice.metadata.v9.bin
/LightInsightService/.vs/ProjectEvaluation/lightinsightservice.projects.v9.bin
/LightInsightService/.vs/ProjectEvaluation/lightinsightservice.strings.v9.bin
/LightInsightService/LightInsightBUS/bin/Debug/net9.0/LightInsightBUS.dll
/LightInsightService/LightInsightBUS/bin/Debug/net9.0/LightInsightBUS.pdb
/LightInsightService/LightInsightBUS/obj/Debug/net9.0/ref/LightInsightBUS.dll
/LightInsightService/LightInsightBUS/obj/Debug/net9.0/LightInsightBUS.dll
/LightInsightService/LightInsightBUS/obj/Debug/net9.0/LightInsightBUS.pdb
/LightInsightService/LightInsightBUS/obj/Debug/net9.0/refint/LightInsightBUS.dll
/LightInsightService/LightInsightDAL/bin/Debug/net9.0/LightInsightDAL.dll
/LightInsightService/LightInsightDAL/bin/Debug/net9.0/LightInsightDAL.pdb
/LightInsightService/LightInsightDAL/obj/Debug/net9.0/ref/LightInsightDAL.dll
/LightInsightService/LightInsightDAL/obj/Debug/net9.0/LightInsightDAL.csproj.AssemblyReference.cache
/LightInsightService/LightInsightDAL/obj/Debug/net9.0/LightInsightDAL.dll
/LightInsightService/LightInsightDAL/obj/Debug/net9.0/LightInsightDAL.pdb
/LightInsightService/LightInsightDAL/obj/Debug/net9.0/refint/LightInsightDAL.dll
/LightInsightService/LightInsightModel/bin/Debug/net9.0/LightInsightModel.dll
/LightInsightService/LightInsightModel/bin/Debug/net9.0/LightInsightModel.pdb
/LightInsightService/LightInsightModel/obj/Debug/net9.0/ref/LightInsightModel.dll
/LightInsightService/LightInsightModel/obj/Debug/net9.0/LightInsightModel.AssemblyInfo.cs
/LightInsightService/LightInsightModel/obj/Debug/net9.0/LightInsightModel.AssemblyInfoInputs.cache
/LightInsightService/LightInsightModel/obj/Debug/net9.0/LightInsightModel.csproj.CoreCompileInputs.cache
/LightInsightService/LightInsightModel/obj/Debug/net9.0/LightInsightModel.dll
/LightInsightService/LightInsightModel/obj/Debug/net9.0/LightInsightModel.pdb
/LightInsightService/LightInsightModel/obj/Debug/net9.0/refint/LightInsightModel.dll
/LightInsightService/LightInsightService/obj/Debug/net9.0/LightInsightService.assets.cache
/LightInsightService/LightInsightService/obj/Debug/net9.0/LightInsightService.csproj.AssemblyReference.cache
/LightInsightService/LightInsightService/obj/Debug/net9.0/LightInsightService.csproj.CoreCompileInputs.cache
/LightInsightService/LightInsightService/obj/Debug/net9.0/LightInsightService.csproj.FileListAbsolute.txt
/LightInsightService/LightInsightService/obj/LightInsightService.csproj.nuget.dgspec.json
/LightInsightService/LightInsightService/obj/LightInsightService.csproj.nuget.g.props
/LightInsightService/LightInsightService/obj/LightInsightService.csproj.nuget.g.targets
/LightInsightService/LightInsightService/obj/project.assets.json
/LightInsightService/LightInsightService/obj/project.nuget.cache
/LightInsightService/LightInsightUtiltites/bin/Debug/net9.0/LightInsightUtiltites.dll
/LightInsightService/LightInsightUtiltites/bin/Debug/net9.0/LightInsightUtiltites.pdb
/LightInsightService/LightInsightUtiltites/obj/Debug/net9.0/ref/LightInsightUtiltites.dll
/LightInsightService/LightInsightUtiltites/obj/Debug/net9.0/LightInsightUtiltites.AssemblyInfo.cs
/LightInsightService/LightInsightUtiltites/obj/Debug/net9.0/LightInsightUtiltites.AssemblyInfoInputs.cache
/LightInsightService/LightInsightUtiltites/obj/Debug/net9.0/LightInsightUtiltites.dll
/LightInsightService/LightInsightUtiltites/obj/Debug/net9.0/LightInsightUtiltites.pdb
/LightInsightService/LightInsightUtiltites/obj/Debug/net9.0/refint/LightInsightUtiltites.dll
/Publish/appsettings.Development.json
/Publish/appsettings.json
/Publish/LightInsightBUS.pdb
/Publish/LightInsightDAL.pdb
/Publish/LightInsightModel.pdb
/Publish/LightInsightService.deps.json
/Publish/LightInsightService.pdb
/Publish/LightInsightService.runtimeconfig.json
/Publish/LightInsightService.staticwebassets.endpoints.json
/Publish/LightInsightUtiltites.pdb
/Publish/web.config
/LightInsightService/LightInsightBUS/bin/Debug/net9.0/LightInsightBUS.deps.json
/LightInsightService/LightInsightBUS/obj/Debug/net9.0/LightInsightBUS.assets.cache
/LightInsightService/LightInsightBUS/obj/Debug/net9.0/LightInsightBUS.csproj.CoreCompileInputs.cache
/LightInsightService/LightInsightBUS/obj/Debug/net9.0/LightInsightBUS.csproj.FileListAbsolute.txt
/LightInsightService/LightInsightBUS/obj/LightInsightBUS.csproj.nuget.dgspec.json
/LightInsightService/LightInsightBUS/obj/LightInsightBUS.csproj.nuget.g.targets
/LightInsightService/LightInsightBUS/obj/project.assets.json
/LightInsightService/LightInsightBUS/obj/project.nuget.cache
/LightInsightService/LightInsightDAL/bin/Debug/net9.0/LightInsightDAL.deps.json
/LightInsightService/LightInsightDAL/obj/Debug/net9.0/LightInsightDAL.assets.cache
/LightInsightService/LightInsightDAL/obj/Debug/net9.0/LightInsightDAL.csproj.CoreCompileInputs.cache
/LightInsightService/LightInsightDAL/obj/Debug/net9.0/LightInsightDAL.csproj.FileListAbsolute.txt
/LightInsightService/LightInsightDAL/obj/LightInsightDAL.csproj.nuget.dgspec.json
/LightInsightService/LightInsightDAL/obj/LightInsightDAL.csproj.nuget.g.targets
/LightInsightService/LightInsightDAL/obj/project.assets.json
/LightInsightService/LightInsightDAL/obj/project.nuget.cache
/LightInsightService/LightInsightUtiltites/obj/Debug/net9.0/LightInsightUtiltites.csproj.CoreCompileInputs.cache
node_modules
/LightInsightService/LightInsightBUS/obj/Debug/net9.0/LightInsightBUS.GeneratedMSBuildEditorConfig.editorconfig
/LightInsightService/LightInsightBUS/obj/LightInsightBUS.csproj.nuget.g.props
/LightInsightService/LightInsightService/obj/Debug/net9.0/LightInsightService.GeneratedMSBuildEditorConfig.editorconfig
/LightInsightService/LightInsightDAL/obj/Debug/net9.0/LightInsightDAL.GeneratedMSBuildEditorConfig.editorconfig
/LightInsightService/LightInsightModel/obj/Debug/net9.0/LightInsightModel.assets.cache
/LightInsightService/LightInsightModel/obj/Debug/net9.0/LightInsightModel.GeneratedMSBuildEditorConfig.editorconfig
